@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "width" 100;
  }


body{
    margin: 0px;
}

/* share styles */

.btn-primary{
    background-color: #FD6E0A;
    padding: 10px 8px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    border: none;

}

.btn-primary img{
    height: 20px;
    width: 20px;
    margin-right: 4px;
    padding-top: 4px 6px;
}


.text-primary{
    color: #FD6E0A ;
}

.dark-2{
    color: #474747;
}

.bg-color{
    background-color: #FFF8F3;
}


/* header styles */
header{
    /* margin-left: 20px; */
    /* margin-right: 20px; */

    padding-left: 200px;
    background-image: url("./images/hardy.png"), url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position:top left,bottom right;
    
}



/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.nav-title{
    font-weight: 900;
    font-size:  45px;
}

.nav-links{
    display: flex;
    padding-right: 190px;
    /* margin-right: 190px; */

}

nav ul li{
    list-style: none;
    margin-right: 20px;
}

nav a{
    text-decoration:none;
    font-size: 20px;
}


/* banner styles */

.banner-container{
    display: flex;
    align-items: center;

}


.banner-text-container{
    height: 377px;
    width: 620px;
}
 
.banner-image{
    /* height: 721px;
    width: 623px; */
    padding-left: 265px;
    /* padding-top: 400px; */

}


/* About me section style */
.information{
    display: flex;
    justify-content: space-evenly; 
}

.about-me-section{
    text-align: center;
    margin: 183px 160px;
    padding: 145px 120px;
}

.detail{
    font-weight:bold ;
}



/* skill-section-styles */
.skills-section{
    margin: 183px 160px;
}



 .description{
    text-align: center;
 }

 .description h3 {
    margin-bottom: 40px;
 }

 .description p{
    margin-bottom: 30px;
    padding-inline: 240px;

 }


.cards{
    display: flex;
    gap: 30px;

}

.card{
    padding: 20px;
    border: 10px solid transparent;
    box-shadow: 10px 10px 15px rgb(132, 132, 122);
}


/* footer styles */

.footer{
    display: flex;
    gap:100px;
    padding: 127px 243px;
}

.icons{
    display: flex;
    column-gap: 20px;
}

.footer-width{
    width: 50%;
}


/* 
.message{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.message input{
    padding: 20px 40px;
}



.btn-submit{
    margin-top: 20px;
} */


footer input[type="text"], footer input[type="email"]{
    width: 488px;
    height: 67px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

footer textarea{
    width: 488px;
    height: 180px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}